<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Nuevo Invernadero
        </h3>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <button id="btn-newgreenhouse" class="btn btn-default">
                Guardar
            </button>
        </div>
        <div class="panel-body">
            <form id="newGreenHouseForm" action="/savegreenhouse" method="post">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <div class="form-inline">
                        <input type="text" class="form-control" id="nombre" name="name" placeholder="Nombre">
                        <input id="estado" name="state" type="checkbox"> Activo
                    </div>
                    <br>
                    <label for="direccion">Direción:</label>
                    <input type="text" class="form-control" id="direccion" name="address" placeholder="Dirección">
                    <br>
                    <label for="dueño">Dueño:</label>
                    <input type="text" class="form-control" id="dueño" name="owner" placeholder="Dueño">
                    <br>
                    <label for="descripccion">Descripción:</label>
                    <textarea id="descripcion" name="description" class="form-control" rows="3"
                              placeholder="Descripción"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>